<br><br><br><br><br><br>
<div class="container">
    <div>
        <h1>Usuário salvo com sucesso!</h1>
        <h1>Confirmar e-mail para <bdi style="color: red;">ativar a conta</bdi>.</h1>
        <h1><img src="https://i.gyazo.com/79845685540f390d0e42383a6b6fd2f3.png" class="img-fluid"></h1>
    </div>
    <div>
        <h3>Você será redirecionado em 5 segundos para a tela de login...</h3>
    </div>
</div>
<style>
    .div {
        font-weight: bold;
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }
</style>